html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button,
a.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
a.btn:hover,
button:focus,
a.btn:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #11519a;
  color: #fff;
}

button:disabled,
a.btn:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
a.btn:disabled:hover,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled:hover {
  background-color: #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select[multiple]:focus {
  border-color: #1565c0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}

input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

input[type="color"]:disabled:hover,
input[type="date"]:disabled:hover,
input[type="datetime"]:disabled:hover,
input[type="datetime-local"]:disabled:hover,
input[type="email"]:disabled:hover,
input[type="month"]:disabled:hover,
input[type="number"]:disabled:hover,
input[type="password"]:disabled:hover,
input[type="search"]:disabled:hover,
input[type="tel"]:disabled:hover,
input[type="text"]:disabled:hover,
input[type="time"]:disabled:hover,
input[type="url"]:disabled:hover,
input[type="week"]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: 0.75em;
}

dl dt {
  font-weight: 600;
  margin-top: 0.75em;
}

dl dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #1565c0;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:active,
a:focus,
a:hover {
  color: #104c90;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.hidden-md {
  display: none;
}

@media screen and (max-width: 980px) {
  .visible-xs {
    display: block;
  }
}

@media screen and (max-width: 980px) {
  .hidden-xs {
    display: none;
  }
}

body {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: #00d2c1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

a:hover {
  color: white;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

button,
a.btn {
  background: rgba(0, 210, 193, 0.8);
  color: white;
  padding-left: 45px;
  padding-right: 45px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  line-height: 50px;
  border-radius: 40px;
  font-family: 'Nunito Sans', sans-serif;
}

button:hover,
a.btn:hover {
  background: #00d2c1;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  width: 4em;
  border-top: 4px solid #00d2c1;
  border-bottom: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr.clear {
  border-top: none;
  width: 100%;
  clear: both;
  margin: 0;
}

p.callout {
  text-align: center;
  color: #00d2c1;
  line-height: 34px;
}

p.callout i {
  font-size: 34px;
}

.help-block {
  display: block;
  color: red;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.4rem;
  color: #00d2c1;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 1.8rem;
}

h2.h1 {
  font-size: 2.4rem;
}

h2.section-heading {
  clear: both;
  margin-top: 45px;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-weight: 100;
  line-height: 1.8;
  letter-spacing: 1px;
}

@media screen and (max-width: 480px) {
  p {
    line-height: 1.4;
  }
}

h2,
h3 {
  clear: both;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 30px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif;
}

select {
  height: 48px;
}

@media screen and (max-width: 480px) {
  select {
    background: white;
  }
}

select.full {
  width: 100%;
}

select.small {
  display: inline-block;
}

form {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin: auto !important;
  float: none;
}

form:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  form {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-left: 0;
    padding-left: 8%;
    padding-right: 8%;
  }

  form:last-child {
    margin-right: 0;
  }
}

form.small {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin-left: 17.05960867%;
}

form.small:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  form.small {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-left: 0%;
  }

  form.small:last-child {
    margin-right: 0;
  }
}

form.small .actions {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 100%;
}

form.small .actions:last-child {
  margin-right: 0;
}

form.small input {
  padding-right: 15%;
}

form.small p {
  margin-right: 0;
}

form p {
  margin-bottom: 40px;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  form p {
    margin-right: 0;
  }
}

form h1 {
  font-weight: 100;
}

form ul.features {
  margin-top: 0;
}

form ul.features p {
  padding-right: 0;
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  form ul.features {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  form .form-group {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
  }

  form .form-group:last-child {
    margin-right: 0;
  }
}

form .actions {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 82.94039133%;
  text-align: right;
}

form .actions:last-child {
  margin-right: 0;
}

form .actions button,
form .actions a.btn {
  margin-left: 25px;
}

label {
  font-weight: 100;
  letter-spacing: 1.5px;
}

.form-group {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 40.29136965%;
  margin-bottom: 12px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group.small {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 14.70195665%;
}

.form-group.small:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .form-group.small {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
  }

  .form-group.small:last-child {
    margin-right: 0;
  }
}

.form_creditors label {
  margin: 15px 0 10px 0;
  font-weight: 200;
}

.form_creditors p {
  font-weight: 200;
}

.form_creditors h2 {
  margin-top: 25px;
}

.form_creditors fieldset {
  margin-top: 25px;
}

#green_modal {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

#green_modal iframe {
  border: 0;
  width: 822px;
  margin: auto;
  margin-top: 30px;
  height: 80%;
  display: block;
}

@media screen and (max-width: 480px) {
  #green_modal iframe {
    width: 100%;
  }
}

#green_form {
  display: none;
}

#green_modal #green_form {
  display: block;
}

.form_poa .ssl {
  text-align: center;
}

.form_poa img {
  width: 200px;
  margin-top: -20px;
  margin-bottom: 60px;
}

body {
  margin: 0;
  margin-top: 60px;
  background: #101010;
}

.content::after {
  clear: both;
  content: "";
  display: block;
}

div.wrapper {
  max-width: 1400px;
  margin: auto;
}

div.wrapper.page_wrap {
  margin-top: 120px;
}

@media screen and (max-width: 480px) {
  div.wrapper.page_wrap .info-page {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.comp-chart {
  background: white;
  padding-bottom: 0rem;
  position: relative;
  padding-left: 10vw;
  padding-right: 10vw;
  color: black;
  padding-top: 120px;
  padding-bottom: 120px;
}

.comp-chart table {
  text-align: center;
}

.comp-chart table td {
  border: 1px solid #00C4B1;
  padding: 15px 20px;
}

.comp-chart table th {
  border: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.comp-chart table .highlight {
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

.comp-chart .wrapper {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.comp-chart .section-header {
  padding-top: 2rem;
}

.comp-name {
  font-size: 1em;
  line-height: 1;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .comp-name {
    font-size: .7em;
  }
}

.newsletter::after {
  clear: both;
  content: "";
  display: block;
}

.newsletter form {
  width: 80%;
  margin-left: 0;
  display: block;
  float: none;
}

@media screen and (max-width: 480px) {
  .newsletter form {
    width: 100%;
  }
}

.newsletter form::after {
  clear: both;
  content: "";
  display: block;
}

.newsletter form input {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 74.41058699%;
  margin-right: 0;
}

.newsletter form input:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .newsletter form input {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-right: 0;
  }

  .newsletter form input:last-child {
    margin-right: 0;
  }
}

.newsletter form button,
.newsletter form a.btn {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 23.23176098%;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 9px;
  margin-left: 10px;
}

.newsletter form button:last-child,
.newsletter form a.btn:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .newsletter form button,
  .newsletter form a.btn {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-right: 0;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .newsletter form button:last-child,
  .newsletter form a.btn:last-child {
    margin-right: 0;
  }
}

.newsletter form input {
  line-height: 48px;
  border-radius: 40px;
  text-indent: 25px;
  font-size: 18px;
}

.newsletter .section-header {
  font-size: 3.1em;
  color: white;
  font-weight: 800;
  padding-top: 1.5rem;
}

.newsletter .slick-slide p {
  width: 50%;
  margin-left: 25%;
  font-weight: 200;
}

.newsletter .col-sm-6 {
  width: 50%;
  float: left;
}

@media screen and (max-width: 480px) {
  .newsletter .col-sm-6 {
    width: 100%;
    float: none;
  }
}

.newsletter .email-signup {
  padding: 0 2rem 0rem 2rem;
  color: white;
  background: url(/images/plus_bg.png);
  background-size: cover;
  border-left: 5px solid #00d2c1;
}

.newsletter .email-signup p {
  margin-bottom: 25px;
}

.newsletter .email-signup .section-header {
  padding-top: 80px;
}

.customer-testimonials {
  background: url(/images/blue_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

@media screen and (min-width: 1024px) {
  .customer-testimonials {
    padding-bottom: 80px;
  }
}

.customer-testimonials i {
  margin-right: 5px;
}

.customer-testimonials .customer {
  margin-bottom: 2rem;
}

.customer {
  padding: 0;
}

.customer i {
  color: #23292f;
}

.customer-testimonials h3 {
  margin-bottom: 0;
  color: #00d2c1;
}

.customer-testimonials small {
  color: #222;
}

.customer-testimonials p {
  font-weight: 100;
  font-size: 1.1em;
  color: white;
  line-height: 1.5em;
  margin-bottom: 0;
}

section#contact-sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #00d2c1;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 9999;
  border-top-left-radius: 10px;
}

section#contact-sticky a {
  color: white;
}

section#contact-sticky i {
  font-size: 25px;
  line-height: 40px;
  margin: 0 8px;
}

section#contact-sticky i.fa-phone {
  font-size: 18px;
  margin-right: 0;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 32px;
  position: fixed;
  padding-top: 15px;
  left: 15px;
  top: 10px;
  color: #00d2c1;
  z-index: 9999;
}

@media screen and (max-width: 980px) {
  .mobile-toggle {
    display: block;
  }
}

ul.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: black;
  z-index: 8888;
}

ul.mobile-nav.active {
  display: block;
}

ul.mobile-nav li {
  text-transform: uppercase;
  font-size: 22px;
  margin: 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header {
  background: #02152F;
  padding: 18px 15px 15px 25px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}

header::after {
  clear: both;
  content: "";
  display: block;
}

header a:hover {
  color: white;
}

header nav.main-nav {
  line-height: 40px;
  position: relative;
  z-index: 222;
  width: 40%;
  float: right;
  font-size: 18px;
}

@media screen and (max-width: 980px) {
  header nav.main-nav {
    display: none;
  }
}

header nav.main-nav li {
  display: inline-block;
}

header nav.main-nav a {
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0 15px;
  border-top: 3px solid transparent;
  display: block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

header nav.main-nav a:hover {
  border-top: 3px solid white;
}

header div.top-right {
  float: right;
  text-align: right;
  position: relative;
  z-index: 222;
  margin-top: 5px;
}

@media screen and (max-width: 980px) {
  header div.top-right {
    display: none;
  }
}

header div.top-right a {
  font-size: 12px;
  display: inline-block;
  margin-right: 15px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 20px;
}

header div.top-right .btn {
  border-radius: 30px;
}

header span.logo img {
  width: 180px;
}

@media screen and (max-width: 480px) {
  header span.logo img {
    width: 150px;
  }
}

header .concierge {
  float: right;
  color: #00d2c1;
  margin-right: 18px;
  margin-top: 10px;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: inline-block;
  position: relative;
}

.dash_wrap {
  margin-top: 0 !important;
}

@media screen and (max-width: 480px) {
  .dash_wrap {
    margin-top: 80px !important;
    padding-left: 25px;
    padding-right: 25px;
  }

  .dash_wrap::after {
    clear: both;
    content: "";
    display: block;
  }
}

.dash_wrap section {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 48.82117399%;
  padding: 30px;
  background: white;
  color: black;
}

.dash_wrap section:last-child {
  margin-right: 0;
}

.dash_wrap section:nth-child(2n) {
  margin-right: 0;
}

.dash_wrap section:nth-child(2n+1) {
  clear: left;
}

@media screen and (max-width: 480px) {
  .dash_wrap section {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    padding: 15px;
  }

  .dash_wrap section:last-child {
    margin-right: 0;
  }
}

.dash_wrap section a {
  cursor: pointer;
}

.dash_wrap section a:hover {
  color: #00d2c1;
}

.dash_wrap section a.btn:hover {
  color: white;
}

.dash_wrap section form {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.body__onboard {
  background: #101010 url(/images/bg.jpg);
  background-size: cover;
}

.body__onboard section.onboard_signup {
  margin-top: 120px;
  text-align: center;
}

.body__onboard section.onboard_signup span.or {
  display: block;
  font-size: 24px;
  text-align: center;
  margin: 45px 0;
  color: white;
}

.body__onboard section.onboard_signup button,
.body__onboard section.onboard_signup a.btn {
  background-color: #4267b2;
  margin-top: 60px;
}

.body__onboard section.onboard_signup button:hover,
.body__onboard section.onboard_signup a.btn:hover {
  color: white;
}

.body__onboard section.onboard_signup p.cta {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 45px;
  margin-top: 60px;
  font-size: 28px;
}

.progress-bar {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
          box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  height: 30px;
  margin: 0 auto;
  padding: 2px;
  width: 100%;
}

.progress-bar > span.meter {
  -webkit-animation: progress 0.7s linear infinite;
          animation: progress 0.7s linear infinite;
  background-color: #1565c0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
  background-repeat: repeat-x;
  background-size: 40px 40px;
  border: 1px solid #0d417b;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 100%;
  width: 60%;
}

@-webkit-keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}

.stats {
  padding: 0.75em;
}

.stats button,
.stats a.btn {
  margin: 25px 0;
}

.stats img {
  height: 50px;
  margin: 0 15px;
}

.stats h2 {
  font-weight: 100;
  color: #00d2c1;
  margin-top: 45px;
}

.stats form {
  clear: both;
  float: none;
}

.stats form::after {
  clear: both;
  content: "";
  display: block;
}

.stats ul::after {
  clear: both;
  content: "";
  display: block;
}

.stats li {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  color: #217ee7;
  display: inline;
  float: left;
  font-size: 1.2em;
  line-height: 1.1em;
  padding: 0 0.7em;
}

@media screen and (max-width: 480px) {
  .stats li {
    margin-bottom: 15px;
  }
}

.stats li:first-child {
  padding-left: 0;
}

.stats li:last-child {
  border-right: 0;
}

.stats span {
  color: #333;
  display: block;
  font-size: 0.7em;
  font-weight: normal;
}

section.home_hero {
  background: url(/images/header_bg.png);
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;
  text-align: center;
  position: relative;
}

section.home_hero .wrapper > img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30vw;
}

@media screen and (max-width: 480px) {
  section.home_hero {
    padding-left: 25px;
    padding-right: 25px;
  }
}

section.home_hero h1 {
  font-weight: 200;
  font-size: 80px;
  letter-spacing: 1px;
}

section.home_hero h3.heading {
  font-size: 24px;
  margin-top: 25px;
  color: #00d2c1;
}

section.home_hero p.tagline {
  font-size: 18px;
  width: 55%;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  section.home_hero p.tagline {
    width: 90%;
    font-size: 14px;
  }
}

.form_plan {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin-left: 17.05960867%;
}

.form_plan:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .form_plan {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-left: 0%;
    padding: 0 25px 25px 25px;
  }

  .form_plan:last-child {
    margin-right: 0;
  }
}

.form_plan h2 {
  margin-bottom: 30px;
}

.form_plan p {
  margin-bottom: 45px;
}

.form_plan .section-actions::after {
  clear: both;
  content: "";
  display: block;
}

.form_plan .section-actions form {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 14.70195665%;
  margin-left: 17.05960867%;
  padding: 45px 0;
}

.form_plan .section-actions form:last-child {
  margin-right: 0;
}

#hs-container {
  width: 900px;
  margin: 60px auto;
}

ul#partners {
  border-left: 0;
  padding-left: 0 !important;
  width: 100%;
  margin-top: 25px;
  text-align: left;
  padding-bottom: 0 !important;
}

ul#partners li {
  display: inline-block;
  margin-right: 45px;
  margin-bottom: 45px;
}

ul#partners li img {
  opacity: 0.25;
}

footer.main-footer {
  background: #02152F;
  position: relative;
  clear: both;
  padding: 2em 1em;
  text-align: center;
  color: #fff;
}

footer.main-footer::after {
  clear: both;
  content: "";
  display: block;
}

footer.main-footer .footer-nav ul {
  text-align: center;
  width: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 45px !important;
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

footer.main-footer .footer-nav ul li {
  display: inline-block;
  margin: 0 8px;
  font-size: 12px;
}

footer.main-footer .footer-nav ul li a {
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  line-height: 2;
}

footer.main-footer .footer-nav ul .btn {
  line-height: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 14px;
}

@media screen and (max-width: 980px) {
  footer.main-footer .footer-nav ul {
    display: none;
  }
}

footer.main-footer .footer_cta {
  margin-top: 45px;
  text-align: left;
}

footer.main-footer .footer_cta > img {
  margin-bottom: -10px;
}

footer.main-footer .footer_cta .concierge {
  line-height: 50px;
  margin-left: 45px;
}

footer.main-footer .footer_cta .btn {
  border-radius: 30px;
  background: transparent;
  border: 1px solid #00C4B3;
  color: #00C4B3;
  line-height: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 25px;
}

footer.main-footer .footer_cta .btn.cta-btn {
  background: #00C4B3;
  color: white;
  border: 0;
}

footer.main-footer .footer-nav {
  width: 80%;
  margin: auto;
}

footer.main-footer .footer-nav::after {
  clear: both;
  content: "";
  display: block;
}

footer.main-footer .footer-nav ul {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 23.23176098%;
  float: right;
}

footer.main-footer .footer-nav ul:last-child {
  margin-right: 0;
}

footer.main-footer .footer-nav ul li {
  display: block;
}

@media screen and (max-width: 480px) {
  footer.main-footer .footer-nav ul {
    display: none;
  }
}

footer.main-footer .footer-cta.footer-col {
  margin-top: 45px;
}

@media screen and (max-width: 980px) {
  footer.main-footer .footer-cta.footer-col {
    display: none;
  }
}

footer.main-footer .footer-col {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
}

footer.main-footer .footer-col:last-child {
  margin-right: 0;
}

footer.main-footer .site-info {
  margin-top: 30px;
}

footer.main-footer .disclaimer p {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin-left: 17.05960867%;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 2em;
  line-height: 1.5;
  text-align: center;
}

footer.main-footer .disclaimer p:last-child {
  margin-right: 0;
}

footer.main-footer .copyright {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 23.23176098%;
  float: right;
  text-align: right;
  font-size: 11px;
  text-decoration: none;
  padding: 45px 0;
  color: rgba(255, 255, 255, 0.5);
}

footer.main-footer .copyright:last-child {
  margin-right: 0;
}

footer.main-footer a.copyright:hover {
  text-decoration: none;
}

footer.main-footer .sep {
  margin-left: 5px;
  padding-left: 5px;
  text-decoration: none;
}

footer.main-footer span.sep:hover {
  text-decoration: none;
  color: #00d2c1;
}

footer.main-footer .social {
  clear: both;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #00d2c1;
}

@media screen and (max-width: 980px) {
  footer.main-footer .social {
    float: none;
    margin-right: 0;
  }
}

footer.main-footer .social i {
  font-size: 2em;
}

footer.main-footer .social a {
  margin: 0 12px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

footer.main-footer .social a:hover {
  color: #00d2c1;
}

footer.main-footer .ssl {
  width: 250px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

footer.main-footer .ssl p {
  margin-bottom: 0;
}

footer.main-footer h5 {
  color: rgba(255, 255, 255, 0.3);
  margin-top: 80px;
  font-size: 14px;
}

footer.main-footer img {
  max-width: 200px;
  margin-top: -20px;
  float: none;
}

footer.main-footer .footer-nav p {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-style: italic;
}

footer.main-footer .nav-col {
  display: inline-block;
}

footer.main-footer .footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer.main-footer .footer-nav ul li {
  text-align: center;
}

@media screen and (min-width: 992px) {
  footer.main-footer .footer-nav ul li {
    text-align: left;
  }
}

footer.main-footer .footer-nav ul li a {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-weight: 100;
}

footer.main-footer .footer-nav ul li a:hover {
  text-decoration: none;
}

footer.main-footer .footer-branding a {
  margin: 10px 0;
  font-size: 1.2em;
}

.container-fluid.products {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 85px;
  padding-bottom: 85px;
  background: white;
  color: #00C4B3;
}

.container-fluid.products::after {
  clear: both;
  content: "";
  display: block;
}

.container-fluid.products.plus {
  background: url(/images/plus_bg.png);
  background-size: cover;
  color: white;
  padding: 120px 10%;
}

.container-fluid.products.plus .copy {
  margin-left: 0;
}

.container-fluid.products .learn_more {
  margin-left: 77px;
  text-decoration: underline;
}

.container-fluid.products .learn_more:hover {
  color: #333;
}

.container-fluid.products h2 {
  font-weight: 200;
  font-size: 44px;
  margin: 40px 0;
}

.container-fluid.products ul {
  margin-top: 50px;
  padding-left: 25px;
  margin-bottom: 50px;
}

.container-fluid.products li {
  position: relative;
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 30px;
}

.container-fluid.products li:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: url("/images/cross.png") no-repeat;
}

.container-fluid.products li span {
  font-size: 14px;
  display: block;
  font-weight: normal;
}

.container-fluid.products .laptop {
  margin-left: 80px;
  width: 40vw;
}

.container-fluid.products .iphone {
  margin-left: 17.05960867%;
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 23.23176098%;
}

.container-fluid.products .iphone:last-child {
  margin-right: 0;
}

.container-fluid.products .copy {
  margin-left: 10%;
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 40.29136965%;
}

.container-fluid.products .copy:last-child {
  margin-right: 0;
}

body.modal-open .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}

.modal-trigger-wrap {
  width: 45px;
  float: right;
}

#contact-sticky .phone-handle {
  line-height: 65px;
  cursor: default;
}

.modal label {
  cursor: pointer;
  margin-bottom: 0;
}

.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}

.modal .modal-state {
  display: none;
}

.modal .modal-trigger {
  padding: 0.8em 1em;
}

.modal .modal-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  visibility: hidden;
  z-index: 99999999999;
}

.modal .modal-fade-screen h2 {
  color: #00d2c1;
  font-weight: 100;
}

@media screen and (min-width: 53.75em) {
  .modal .modal-fade-screen {
    padding-top: 10em;
  }
}

.modal .modal-fade-screen .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: #fff;
  cursor: pointer;
}

.modal .modal-close::after,
.modal .modal-close::before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  background: #ddd;
  content: "";
  display: block;
  margin: -3px 0 0 -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .modal-close:hover::after,
.modal .modal-close:hover::before {
  background: #c4c3c3;
}

.modal .modal-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .modal-inner {
  background: #fff;
  margin: auto;
  margin-top: 0;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  width: 95%;
}

.modal .modal-inner form {
  width: 100%;
  margin-left: 0;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner {
    max-height: 70%;
    padding: 3em;
    width: 60%;
  }
}

@media screen and (min-width: 53.75em) {
  .modal .modal-inner {
    width: 50%;
  }
}

.modal .modal-inner h1 {
  color: #333;
  text-align: left;
  text-transform: capitalize;
}

.modal .modal-inner p {
  color: #333;
  font-weight: 200;
  margin-bottom: 30px;
}

.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}

.modal .modal-inner .modal-content {
  color: #333;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner .modal-content {
    -webkit-columns: 2 8em;
            columns: 2 8em;
  }
}

.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}

.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}

.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}

.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

.modal-open {
  overflow: hidden;
}

