html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button,
a.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
a.btn:hover,
button:focus,
a.btn:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #11519a;
  color: #fff;
}

button:disabled,
a.btn:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
a.btn:disabled:hover,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled:hover {
  background-color: #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select[multiple]:focus {
  border-color: #1565c0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}

input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

input[type="color"]:disabled:hover,
input[type="date"]:disabled:hover,
input[type="datetime"]:disabled:hover,
input[type="datetime-local"]:disabled:hover,
input[type="email"]:disabled:hover,
input[type="month"]:disabled:hover,
input[type="number"]:disabled:hover,
input[type="password"]:disabled:hover,
input[type="search"]:disabled:hover,
input[type="tel"]:disabled:hover,
input[type="text"]:disabled:hover,
input[type="time"]:disabled:hover,
input[type="url"]:disabled:hover,
input[type="week"]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: 0.75em;
}

dl dt {
  font-weight: 600;
  margin-top: 0.75em;
}

dl dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #1565c0;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:active,
a:focus,
a:hover {
  color: #104c90;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.hidden-md {
  display: none;
}

@media screen and (max-width: 980px) {
  .visible-xs {
    display: block;
  }
}

@media screen and (max-width: 980px) {
  .hidden-xs {
    display: none;
  }
}

body {
  color: white;
}

a {
  color: #00d2c1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

a:hover {
  color: white;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

button,
a.btn {
  background: rgba(0, 210, 193, 0.8);
  color: white;
  padding-left: 45px;
  padding-right: 45px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  line-height: 30px;
}

button:hover,
a.btn:hover {
  background: #00d2c1;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  width: 4em;
  border-top: 4px solid #00d2c1;
  border-bottom: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr.clear {
  border-top: none;
  width: 100%;
  clear: both;
  margin: 0;
}

p.callout {
  text-align: center;
  color: #00d2c1;
  line-height: 34px;
}

p.callout i {
  font-size: 34px;
}

.help-block {
  display: block;
  color: red;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.4rem;
  color: #00d2c1;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 1.8rem;
}

h2.h1 {
  font-size: 2.4rem;
}

h2.section-heading {
  clear: both;
  margin-top: 45px;
}

p {
  font-weight: 100;
  line-height: 1.8;
  letter-spacing: 1px;
}

@media screen and (max-width: 480px) {
  p {
    line-height: 1.4;
  }
}

h2,
h3 {
  clear: both;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 30px;
  border-radius: 5px;
}

select {
  height: 48px;
}

@media screen and (max-width: 480px) {
  select {
    background: white;
  }
}

select.full {
  width: 100%;
}

select.small {
  display: inline-block;
}

form {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 82.94039133%;
  margin-left: 17.05960867%;
}

form:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  form {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-left: 0;
    padding-left: 8%;
    padding-right: 8%;
  }

  form:last-child {
    margin-right: 0;
  }
}

form.small {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin-left: 17.05960867%;
}

form.small:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  form.small {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-left: 0%;
  }

  form.small:last-child {
    margin-right: 0;
  }
}

form.small .actions {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 100%;
}

form.small .actions:last-child {
  margin-right: 0;
}

form.small input {
  padding-right: 15%;
}

form.small p {
  margin-right: 0;
}

form p {
  margin-right: 15%;
  margin-bottom: 40px;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  form p {
    margin-right: 0;
  }
}

form h1 {
  font-weight: 100;
}

form ul.features {
  margin-top: 0;
}

form ul.features p {
  padding-right: 0;
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  form ul.features {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  form .form-group {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
  }

  form .form-group:last-child {
    margin-right: 0;
  }
}

form .actions {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 82.94039133%;
  text-align: right;
}

form .actions:last-child {
  margin-right: 0;
}

form .actions button,
form .actions a.btn {
  margin-left: 25px;
}

label {
  font-weight: 100;
  letter-spacing: 1.5px;
}

.form-group {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 40.29136965%;
  margin-bottom: 12px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group.small {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 14.70195665%;
}

.form-group.small:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .form-group.small {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
  }

  .form-group.small:last-child {
    margin-right: 0;
  }
}

.form_creditors label {
  margin: 15px 0 10px 0;
  font-weight: 200;
}

.form_creditors p {
  font-weight: 200;
}

.form_creditors h2 {
  margin-top: 25px;
}

.form_creditors fieldset {
  margin-top: 25px;
}

#green_modal {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

#green_modal iframe {
  border: 0;
  width: 822px;
  margin: auto;
  margin-top: 30px;
  height: 80%;
  display: block;
}

@media screen and (max-width: 480px) {
  #green_modal iframe {
    width: 100%;
  }
}

#green_form {
  display: none;
}

#green_modal #green_form {
  display: block;
}

.form_poa .ssl {
  text-align: center;
}

.form_poa img {
  width: 200px;
  margin-top: -20px;
  margin-bottom: 60px;
}

body {
  margin: 0;
  background: #101010;
}

.content::after {
  clear: both;
  content: "";
  display: block;
}

div.wrapper {
  max-width: 1400px;
  margin: auto;
}

div.wrapper.page_wrap {
  margin-top: 120px;
}

.comp-chart {
  text-align: center;
  padding-bottom: 0rem;
  position: relative;
  padding-left: 10vw;
  padding-right: 10vw;
}

.comp-chart .section-header {
  color: #fff !important;
  padding-top: 2rem;
}

.comp-name {
  font-size: 1em;
  line-height: 1;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .comp-name {
    font-size: .7em;
  }
}

.newsletter::after {
  clear: both;
  content: "";
  display: block;
}

.newsletter form {
  width: 80%;
  margin-left: 0;
  display: block;
  float: none;
}

@media screen and (max-width: 480px) {
  .newsletter form {
    width: 100%;
  }
}

.newsletter form::after {
  clear: both;
  content: "";
  display: block;
}

.newsletter form input {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 57.35097832%;
  margin-right: 0;
}

.newsletter form input:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .newsletter form input {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-right: 0;
  }

  .newsletter form input:last-child {
    margin-right: 0;
  }
}

.newsletter form button,
.newsletter form a.btn {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 40.29136965%;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 9px;
  margin-left: 10px;
}

.newsletter form button:last-child,
.newsletter form a.btn:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .newsletter form button,
  .newsletter form a.btn {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-right: 0;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .newsletter form button:last-child,
  .newsletter form a.btn:last-child {
    margin-right: 0;
  }
}

.newsletter .section-header {
  font-size: 3.1em;
  color: #23292f;
  font-weight: 800;
  padding-top: 1.5rem;
}

.newsletter .slick-slide p {
  width: 50%;
  margin-left: 25%;
  font-weight: 200;
}

.newsletter .col-sm-6 {
  width: 50%;
  float: left;
}

@media screen and (max-width: 480px) {
  .newsletter .col-sm-6 {
    width: 100%;
    float: none;
  }
}

.newsletter .email-signup {
  padding: 0 2rem 0rem 2rem;
  color: #23292f;
  background-color: #f4f3f0;
  border-top: 2px solid #00d2c1;
}

.customer-testimonials {
  background: url(/images/customer-pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid #00d2c1;
}

@media screen and (min-width: 768px) {
  .customer-testimonials {
    border-right: 2px solid #00d2c1;
  }
}

@media screen and (min-width: 1024px) {
  .customer-testimonials {
    padding-bottom: 80px;
  }
}

.customer-testimonials i {
  margin-right: 5px;
}

.customer-testimonials .customer {
  margin-bottom: 2rem;
}

.customer {
  padding: 0;
}

.customer i {
  color: #23292f;
}

.customer-testimonials h3 {
  margin-bottom: 0;
  color: #00d2c1;
}

.customer-testimonials small {
  color: #222;
}

.customer-testimonials p {
  font-weight: 100;
  font-size: 1.1em;
  color: #222;
  line-height: 1.5em;
  margin-bottom: 0;
}

section#contact-sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #00d2c1;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 9999;
  border-top-left-radius: 10px;
}

section#contact-sticky a {
  color: white;
}

section#contact-sticky i {
  font-size: 25px;
  line-height: 40px;
  margin: 0 8px;
}

section#contact-sticky i.fa-phone {
  font-size: 18px;
  margin-right: 0;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 32px;
  position: fixed;
  padding-top: 15px;
  left: 15px;
  top: 10px;
  color: #00d2c1;
  z-index: 9999;
}

@media screen and (max-width: 980px) {
  .mobile-toggle {
    display: block;
  }
}

ul.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: black;
  z-index: 8888;
}

ul.mobile-nav li {
  text-transform: uppercase;
  font-size: 22px;
  margin: 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header::after {
  clear: both;
  content: "";
  display: block;
}

header a:hover {
  color: white;
}

header nav.main-nav {
  line-height: 40px;
  position: relative;
  z-index: 222;
  width: 40%;
}

@media screen and (max-width: 980px) {
  header nav.main-nav {
    display: none;
  }
}

header nav.main-nav li {
  display: inline-block;
}

header nav.main-nav a {
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0 15px;
  border-top: 3px solid transparent;
  line-height: 67px;
  display: block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

header nav.main-nav a:hover {
  border-top: 3px solid white;
}

header div.top-right {
  float: right;
  text-align: right;
  margin-top: -28px;
  position: relative;
  z-index: 222;
}

@media screen and (max-width: 980px) {
  header div.top-right {
    display: none;
  }
}

header div.top-right a {
  font-size: 12px;
  display: inline-block;
  margin-right: 15px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 20px;
}

header span.logo {
  position: absolute;
  text-align: center;
  top: 25px;
  left: 0;
  right: 0;
}

header span.logo img {
  width: 250px;
}

@media screen and (max-width: 480px) {
  header span.logo img {
    width: 150px;
  }
}

header .concierge {
  color: #00d2c1;
  margin-right: 18px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.dash_wrap {
  margin-top: 0 !important;
}

@media screen and (max-width: 480px) {
  .dash_wrap {
    margin-top: 80px !important;
    padding-left: 25px;
    padding-right: 25px;
  }

  .dash_wrap::after {
    clear: both;
    content: "";
    display: block;
  }
}

.dash_wrap section {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 48.82117399%;
  padding: 30px;
  background: white;
  color: black;
}

.dash_wrap section:last-child {
  margin-right: 0;
}

.dash_wrap section:nth-child(2n) {
  margin-right: 0;
}

.dash_wrap section:nth-child(2n+1) {
  clear: left;
}

@media screen and (max-width: 480px) {
  .dash_wrap section {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    padding: 15px;
  }

  .dash_wrap section:last-child {
    margin-right: 0;
  }
}

.dash_wrap section a {
  cursor: pointer;
}

.dash_wrap section a:hover {
  color: #00d2c1;
}

.dash_wrap section a.btn:hover {
  color: white;
}

.dash_wrap section form {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.body__onboard {
  background: #101010 url(/images/bg.jpg);
  background-size: cover;
}

.body__onboard section.onboard_signup {
  margin-top: 120px;
  text-align: center;
}

.body__onboard section.onboard_signup span.or {
  display: block;
  font-size: 24px;
  text-align: center;
  margin: 45px 0;
  color: white;
}

.body__onboard section.onboard_signup button,
.body__onboard section.onboard_signup a.btn {
  background-color: #4267b2;
  margin-top: 60px;
}

.body__onboard section.onboard_signup button:hover,
.body__onboard section.onboard_signup a.btn:hover {
  color: white;
}

.body__onboard section.onboard_signup p.cta {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 45px;
  margin-top: 60px;
  font-size: 28px;
}

.progress-bar {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
          box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  height: 30px;
  margin: 0 auto;
  padding: 2px;
  width: 100%;
}

.progress-bar > span.meter {
  -webkit-animation: progress 0.7s linear infinite;
          animation: progress 0.7s linear infinite;
  background-color: #1565c0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
  background-repeat: repeat-x;
  background-size: 40px 40px;
  border: 1px solid #0d417b;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 100%;
  width: 60%;
}

@-webkit-keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}

.stats {
  padding: 0.75em;
}

.stats button,
.stats a.btn {
  margin: 25px 0;
}

.stats img {
  height: 50px;
  margin: 0 15px;
}

.stats h2 {
  font-weight: 100;
  color: #00d2c1;
  margin-top: 45px;
}

.stats form {
  clear: both;
  float: none;
}

.stats form::after {
  clear: both;
  content: "";
  display: block;
}

.stats ul::after {
  clear: both;
  content: "";
  display: block;
}

.stats li {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  color: #217ee7;
  display: inline;
  float: left;
  font-size: 1.2em;
  line-height: 1.1em;
  padding: 0 0.7em;
}

@media screen and (max-width: 480px) {
  .stats li {
    margin-bottom: 15px;
  }
}

.stats li:first-child {
  padding-left: 0;
}

.stats li:last-child {
  border-right: 0;
}

.stats span {
  color: #333;
  display: block;
  font-size: 0.7em;
  font-weight: normal;
}

section.home_hero {
  background: url(/images/bg.jpg);
  background-size: cover;
  padding-top: 220px;
  margin-top: -112px;
  padding-bottom: 120px;
  color: white;
  text-align: center;
  border-top: 3px solid #00d2c1;
}

@media screen and (max-width: 480px) {
  section.home_hero {
    padding-left: 25px;
    padding-right: 25px;
  }
}

section.home_hero h3.heading {
  font-size: 24px;
  margin-top: 25px;
  color: #00d2c1;
}

section.home_hero p.tagline {
  font-size: 18px;
  width: 55%;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  section.home_hero p.tagline {
    width: 90%;
    font-size: 14px;
  }
}

ul.features {
  margin-top: 80px;
  margin-bottom: 80px;
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 91.47019566%;
  margin-left: 8.52980434%;
}

ul.features:last-child {
  margin-right: 0;
}

@media screen and (max-width: 980px) {
  ul.features {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 314.84594352%;
    margin-left: 0%;
    width: 100%;
  }

  ul.features:last-child {
    margin-right: 0;
  }
}

ul.features li {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 23.23176098%;
  margin-right: 0;
  text-align: left;
  position: relative;
}

ul.features li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 980px) {
  ul.features li {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 126.85574294%;
    margin-right: 0;
    width: 50%;
  }

  ul.features li:last-child {
    margin-right: 0;
  }
}

ul.features i {
  font-size: 28px;
  color: #00d2c1;
  position: absolute;
  left: 20px;
}

ul.features h3 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
}

ul.features p,
ul.features h3 {
  padding-left: 55px;
  padding-right: 40px;
}

@media screen and (max-width: 480px) {
  ul.features p,
  ul.features h3 {
    padding-right: 0;
  }
}

ul.features p {
  font-size: 13px;
  line-height: 1.4;
}

.form_plan {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin-left: 17.05960867%;
}

.form_plan:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .form_plan {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-left: 0%;
    padding: 0 25px 25px 25px;
  }

  .form_plan:last-child {
    margin-right: 0;
  }
}

.form_plan h2 {
  margin-bottom: 30px;
}

.form_plan p {
  margin-bottom: 45px;
}

.form_plan .section-actions::after {
  clear: both;
  content: "";
  display: block;
}

.form_plan .section-actions form {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 14.70195665%;
  margin-left: 17.05960867%;
  padding: 45px 0;
}

.form_plan .section-actions form:last-child {
  margin-right: 0;
}

#hs-container {
  width: 900px;
  margin: 60px auto;
}

footer.main-footer {
  background: #101010;
  clear: both;
  padding-top: 80px;
  padding: 2em 1em;
  text-align: center;
  color: #fff;
}

footer.main-footer::after {
  clear: both;
  content: "";
  display: block;
}

footer.main-footer .footer-nav ul {
  text-align: center;
  width: 100%;
}

footer.main-footer .footer-nav ul li {
  display: inline-block;
  margin: 0 8px;
}

@media screen and (max-width: 980px) {
  footer.main-footer .footer-nav ul {
    display: none;
  }
}

footer.main-footer .footer-nav {
  width: 70%;
  margin: auto;
}

footer.main-footer .footer-nav::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (max-width: 480px) {
  footer.main-footer .footer-nav ul {
    display: none;
  }
}

footer.main-footer .footer-cta.footer-col {
  margin-top: 45px;
}

@media screen and (max-width: 980px) {
  footer.main-footer .footer-cta.footer-col {
    display: none;
  }
}

footer.main-footer .footer-col {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 23.23176098%;
}

footer.main-footer .footer-col:last-child {
  margin-right: 0;
}

footer.main-footer .site-info {
  margin-top: 30px;
}

footer.main-footer .disclaimer p {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin-left: 17.05960867%;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 2em;
  line-height: 1.5;
  text-align: center;
}

footer.main-footer .disclaimer p:last-child {
  margin-right: 0;
}

footer.main-footer .copyright {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 100%;
  font-size: 11px;
  text-decoration: none;
  padding: 45px 0;
  color: rgba(255, 255, 255, 0.5);
}

footer.main-footer .copyright:last-child {
  margin-right: 0;
}

footer.main-footer a.copyright:hover {
  text-decoration: none;
}

footer.main-footer .sep {
  margin-left: 5px;
  padding-left: 5px;
  text-decoration: none;
}

footer.main-footer span.sep:hover {
  text-decoration: none;
  color: #00d2c1;
}

footer.main-footer .social {
  float: right;
  margin-top: 120px;
  margin-right: 18%;
  color: #00d2c1;
}

@media screen and (max-width: 980px) {
  footer.main-footer .social {
    float: none;
    margin-right: 0;
  }
}

footer.main-footer .social a {
  margin: 0 12px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

footer.main-footer .social a:hover {
  color: #00d2c1;
}

footer.main-footer .ssl p {
  margin-bottom: 0;
}

footer.main-footer h5 {
  color: #fff;
  font-size: 1.6em;
}

footer.main-footer img {
  max-width: 200px;
  margin-top: -20px;
  float: none;
}

footer.main-footer .footer-nav p {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-style: italic;
}

footer.main-footer .nav-col {
  display: inline-block;
}

footer.main-footer .footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer.main-footer .footer-nav ul li {
  text-align: center;
}

@media screen and (min-width: 992px) {
  footer.main-footer .footer-nav ul li {
    text-align: left;
  }
}

footer.main-footer .footer-nav ul li a {
  font-size: 1.4em;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-weight: 100;
}

footer.main-footer .footer-nav ul li a:hover {
  text-decoration: none;
}

footer.main-footer .footer-branding a {
  margin: 10px 0;
  font-size: 1.2em;
}

.container-fluid.products {
  padding-left: 10%;
  padding-right: 10%;
  background: white url(/images/product-pattern-bg.png);
  padding-top: 45px;
  padding-bottom: 45px;
  color: black;
}

.container-fluid.products::after {
  clear: both;
  content: "";
  display: block;
}

.container-fluid.products.product-select {
  padding: 0;
  background: transparent;
  color: white;
}

.container-fluid.products.product-select .pricingTable {
  margin-top: 0;
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 40.29136965%;
}

.container-fluid.products.product-select .pricingTable:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .container-fluid.products.product-select .pricingTable {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
  }

  .container-fluid.products.product-select .pricingTable:last-child {
    margin-right: 0;
  }
}

.container-fluid.products a {
  color: white;
}

.container-fluid.products .pricingTable {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 31.76156532%;
  position: relative;
  text-align: center;
  background: #23292f;
  border: 3px solid #23292f;
  margin-bottom: 20px;
  font-size: 0.9em;
  padding-bottom: 60px;
  float: left;
  margin-top: 60px;
}

.container-fluid.products .pricingTable:last-child {
  margin-right: 0;
}

.container-fluid.products .pricingTable:nth-child(3n) {
  margin-right: 0;
}

.container-fluid.products .pricingTable:nth-child(3n+1) {
  clear: left;
}

@media screen and (max-width: 480px) {
  .container-fluid.products .pricingTable {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
  }

  .container-fluid.products .pricingTable:last-child {
    margin-right: 0;
  }
}

.container-fluid.products .pricingTable-header,
.container-fluid.products .pricingContent {
  background: #f4f4f4;
}

.container-fluid.products .enroll-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-fluid.products .best-value-icon {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 77%;
  left: 70%;
  z-index: 1000;
}

.container-fluid.products .subscription-table .best-value-icon {
  top: 85%;
  left: 85%;
}

@media screen and (min-width: 768px) {
  .container-fluid.products .best-value-icon {
    top: -8%;
    left: 85%;
  }

  .container-fluid.products .subscription-table .best-value-icon {
    top: -8%;
    left: 85%;
  }
}

.container-fluid.products .subscription-table.pricingTable:nth-of-type(1) {
  margin-left: 0%;
}

@media screen and (min-width: 768px) {
  .container-fluid.products .subscription-table.pricingTable:nth-of-type(1) {
    margin-left: 6.3333%;
  }
}

.container-fluid.products .pricingTable.col-sm-offset-1 {
  margin-left: 0%;
}

.container-fluid.products .subscription-table.pricingTable.col-sm-offset-1 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .container-fluid.products .subscription-table.pricingTable.col-sm-offset-1 {
    margin-left: 4%;
  }
}

@media (min-width: 768px) {
  .container-fluid.products .pricingTable.col-sm-offset-1 {
    margin-left: 6.333333%;
  }
}

.container-fluid.products .pricingTable > .pricingTable-header {
  color: #23292f;
  font-size: .9em;
}

@media (min-width: 1024px) {
  .container-fluid.products .pricingTable > .pricingTable-header {
    font-size: 1.1em;
  }
}

.container-fluid.products .pricingTable > .pricingTable-header p {
  margin-bottom: 0;
  font-weight: 400;
  min-height: 56px;
}

.container-fluid.products .pricingTable .pricingTable-header > .heading {
  display: block;
  padding: 15px;
  background: transparent;
}

.container-fluid.products .pricingTable:nth-of-type(3) .pricingTable-header > .heading {
  background: transparent;
}

.container-fluid.products .pricingTable .pricingTable-header > .heading > h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 129px;
}

.container-fluid.products .pricingTable-sign-up {
  color: #fff;
}

.container-fluid.products .pricingTable-sign-up > .price-value {
  display: block;
  background: #23292f;
  margin: 0;
  padding: 0px;
  font-size: 1.8em;
  font-weight: bold;
}

.container-fluid.products .pricingTable-sign-up > .price-value > .month {
  display: inline-block;
  font-size: 1em;
}

.container-fluid.products .pricingTable-sign-up .enroll-btn {
  border-radius: 0px;
}

.container-fluid.products .pricingTable > .pricingContent {
  text-transform: capitalize;
}

.container-fluid.products body .gform_wrapper .pricingTable > .pricingContent > ul {
  margin-left: 0 !important;
}

.container-fluid.products .pricingTable > .pricingContent > ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 0 !important;
  border-top: 1px solid #00d2c1;
}

.container-fluid.products .pricingTable > .pricingContent > ul > li {
  border-bottom: 1px solid #00d2c1 !important;
  padding: 3px 0;
  position: relative;
  z-index: 1;
  color: #23292f;
  font-weight: 100;
  overflow: hidden !important;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products .pricingTable:nth-of-type(1) > .pricingContent > ul > li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #00d2c1;
  z-index: -5;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products .pricingTable:nth-of-type(2) > .pricingContent > ul > li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #00d2c1;
  z-index: -5;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products .pricingTable:nth-of-type(3) > .pricingContent > ul > li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #00d2c1;
  z-index: -5;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products .pricingTable > .pricingContent > ul > li:hover {
  color: #fff;
}

.container-fluid.products .pricingTable:nth-of-type(1) > .pricingContent > ul > li:hover:after {
  right: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products .pricingTable:nth-of-type(2) > .pricingContent > ul > li:hover:after {
  right: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products .pricingTable:nth-of-type(3) > .pricingContent > ul > li:hover:after {
  right: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products .pricingTable > .pricingTable-sign-up {
  font-size: .9em;
  line-height: 1.3;
}

@media (min-width: 1024px) {
  .container-fluid.products .pricingTable > .pricingTable-sign-up {
    font-size: 1.1em;
  }
}

.container-fluid.products .pricingTable > .pricingTable-sign-up p {
  background: #23292f;
  padding-bottom: 11.5px;
}

.container-fluid.products .pricingTable > .pricingTable-sign-up.last-child p {
  padding-bottom: 0px;
}

.container-fluid.products .pricingTable > .pricingTable-sign-up.last-child p:first-of-type {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (min-width: 1024px) {
  .container-fluid.products .pricingTable > .pricingTable-sign-up.last-child p:first-of-type {
    padding-top: 10px;
    padding-bottom: 0px;
  }
}

.container-fluid.products .pricingTable > .pricingTable-sign-up.last-child p:last-of-type {
  padding-bottom: 10.5px;
}

.container-fluid.products .pricingTable .pricingTable-sign-up p {
  margin-bottom: 0px;
}

.container-fluid.products .pricingTable-sign-up p:last-child {
  margin-bottom: 7.5px;
  padding-bottom: 0px;
}

.container-fluid.products .subscription-table .pricingTable-sign-up p:last-child {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.container-fluid.products .pricingTable-sign-up p.h4 {
  margin-top: 0px;
  font-weight: 800;
  padding: 0px;
  line-height: 1.3;
  padding-bottom: 8px;
}

@media (min-width: 1024px) {
  .container-fluid.products .pricingTable-sign-up p.h4 {
    padding-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .container-fluid.products .pricingTable-sign-up p.h4 {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.container-fluid.products .pricingTable-sign-up {
  padding-top: 7.5px;
  background: #23292f;
}

@media (min-width: 1024px) {
  .container-fluid.products .pricingTable-sign-up {
    padding-top: 15px;
  }
}

.container-fluid.products .pricingTable-sign-up.last-child {
  padding-top: .5px;
  background: #23292f;
}

@media all and (min-width: 1024px) {
  .container-fluid.products .pricingTable-sign-up.last-child {
    padding-top: 0px;
  }
}

.container-fluid.products a.enroll-btn {
  font-size: .9em;
  border-radius: 3px;
  padding: 1em;
  background: #00d2c1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.container-fluid.products a.enroll-btn:hover {
  background: rgba(0, 210, 193, 0.7);
  color: #fff;
  text-decoration: none;
}

.container-fluid.products a.enroll-btn:focus {
  background: rgba(0, 210, 193, 0.7);
  text-decoration: none;
}

@media screen and (min-width: 375px) {
  .container-fluid.products a.enroll-btn {
    font-size: 1.1em;
  }
}

#income_range,
#debt_range {
  float: left;
  display: block;
  margin-right: 2.35765202%;
  width: 65.88078266%;
  margin-left: 17.05960867%;
  padding: 60px 0;
}

#income_range:last-child,
#debt_range:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  #income_range,
  #debt_range {
    float: left;
    display: block;
    margin-right: 7.42297176%;
    width: 100%;
    margin-left: 0%;
    padding: 25px 0;
  }

  #income_range:last-child,
  #debt_range:last-child {
    margin-right: 0;
  }
}

.min {
  padding-top: 12px;
  padding-left: 10px;
  color: #cccccc;
}

.max {
  padding-top: 8px;
  padding-right: 10px;
  color: #cccccc;
}

#helper {
  padding-top: 40px;
  color: #46b7d5;
  font-style: italic;
}

output {
  display: inline-block;
  font-size: 2em;
}

.rangeslider,
.rangeslider__fill {
  display: block;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 20px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right top, from(#abe0ed), to(#46b7d5));
  background: linear-gradient(to right, #abe0ed, #46b7d5);
  /* Standard syntax (must be last) */
  position: absolute;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  color: #0085b2;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 22px;
}

.rangeslider__handle:after {
  font-family: FontAwesome;
  content: "\F0DA";
  color: #cccccc;
}

.rangeslider__handle:before {
  font-family: FontAwesome;
  content: "\F0D9";
  color: #cccccc;
}

.rangeslider__handle:active {
  background-img: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.12)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

body.modal-open .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}

.modal-trigger-wrap {
  width: 45px;
  float: right;
}

#contact-sticky .phone-handle {
  line-height: 65px;
  cursor: default;
}

.modal label {
  cursor: pointer;
  margin-bottom: 0;
}

.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}

.modal .modal-state {
  display: none;
}

.modal .modal-trigger {
  padding: 0.8em 1em;
}

.modal .modal-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  visibility: hidden;
  z-index: 99999999999;
}

.modal .modal-fade-screen h2 {
  color: #00d2c1;
  font-weight: 100;
}

@media screen and (min-width: 53.75em) {
  .modal .modal-fade-screen {
    padding-top: 10em;
  }
}

.modal .modal-fade-screen .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: #fff;
  cursor: pointer;
}

.modal .modal-close::after,
.modal .modal-close::before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  background: #ddd;
  content: "";
  display: block;
  margin: -3px 0 0 -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .modal-close:hover::after,
.modal .modal-close:hover::before {
  background: #c4c3c3;
}

.modal .modal-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .modal-inner {
  background: #fff;
  margin: auto;
  margin-top: 0;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  width: 95%;
}

.modal .modal-inner form {
  width: 100%;
  margin-left: 0;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner {
    max-height: 70%;
    padding: 3em;
    width: 60%;
  }
}

@media screen and (min-width: 53.75em) {
  .modal .modal-inner {
    width: 50%;
  }
}

.modal .modal-inner h1 {
  color: #333;
  text-align: left;
  text-transform: capitalize;
}

.modal .modal-inner p {
  color: #333;
  font-weight: 200;
  margin-bottom: 30px;
}

.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}

.modal .modal-inner .modal-content {
  color: #333;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner .modal-content {
    -webkit-columns: 2 8em;
            columns: 2 8em;
  }
}

.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}

.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}

.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}

.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

.modal-open {
  overflow: hidden;
}

