@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "node_modules/bourbon-bitters/app/assets/stylesheets/bitters";


// Typography

body {
  color: white;
}

a {
  color: #00d2c1;
  &:hover {
    color: white;
  }
}

button:hover {
  background-color: white;
  color: #00d2c1;
}

button {
  background: #00d2c1;
  color: white;
}

a.btn {
  @extend button;
}

h1 {
  font-size: 2.4rem;
  color: #00d2c1;
}

h2.section-heading {
  clear: both;
  margin-top: 45px;
}

p {
  font-weight: 100;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

h2, h3 {
  clear:both;
}

// Layout

body {
  margin: 0;
  background: #101010;
}

div.wrapper {
  max-width: 1400px;
  margin: auto;
  &.page_wrap {
    margin-top: 120px;
  }
}

// Header

header {
  a:hover {
    color: white;
  }
  nav.main-nav {
    line-height: 40px;
    margin-top: 17px;
    position: relative;
    z-index: 222;
    width: 40%;
    a {
      font-weight: bold;
    }
  }
  div.top-right {
    float: right;
    text-align: right;
    margin-top: -28px;
    position: relative;
    z-index: 222;
    a {
      font-size: 12px;
      display: inline-block;
      margin-right: 15px;
    }
  }
  span.logo {
    position: absolute;
    text-align: center;
    top: 25px;
    left: 0;
    right: 0;
    img {
      width: 200px;
    }
  }
  .concierge {
    color: #00d2c1;
    margin-right: 18px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

// Dashboard
.dash_wrap {
  h3 {
    margin-top: 45px;
  }
}

// Onboard Signup

section.onboard_signup {
  margin-top: 120px;
  text-align: center;

  span.or {
    display: block;
    font-size: 24px;
    text-align: center;
    margin: 45px 0;
    color: white;
  }

  button {
    background-color: #4267b2;
    margin-top: 60px;
    &:hover {
      color:white;
    }
  }

  p.cta {
    border-top: 1px solid rgba(275,275,275,0.05);
    padding-top: 45px;
    margin-top: 60px;
    font-size: 28px;
  }

}

// Progress bar
.progress-bar {
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-height: 30px;

  background-color: $progress-background;
  border: $progress-border;
  border-radius: $base-border-radius;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  height: $progress-height;
  margin: 0 auto;
  padding: 2px;
  width: 100%;

  > span.meter {
    animation: progress $progress-animation-duration linear infinite;
    background-color: $progress-meter-color;
    background-image: linear-gradient(
                        -45deg, rgba(#fff, 0.15) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(#fff, 0.15) 50%,
                        rgba(#fff, 0.15) 75%,
                        transparent 75%
                      );
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border: $progress-meter-border;
    border-radius: $base-border-radius / 1.5;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 60%;
  }
}

@-webkit-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-moz-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-ms-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-o-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

// Stats

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);

  padding: $base-spacing / 2;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}

// Home hero
section.home_hero {
  background: url(/images/bg.jpg);
  background-size: cover;
  padding-top: 220px;
  margin-top: -60px;
  padding-bottom: 120px;
  color: white;
  text-align: center;
  border-top: 8px solid #00d2c1;
}

// Home features 

ul.features {
  margin-top: 80px;
  margin-bottom: 80px;
  @include span-columns(11);
  @include shift(1); 
  li {
    @include span-columns(3);
    @include omega();
    text-align: left;
    position: relative;
  }
  i {
    font-size: 28px;
    color: #00d2c1;
    position: absolute;
    left: 20px;
  }
  h3 {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
  }
  p, h3 {
    padding-left: 55px;
    padding-right: 40px;
  }
  p {
    font-size: 13px;
    line-height: 1.4;
  }
}

