@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "node_modules/bourbon-bitters/app/assets/stylesheets/bitters";

// Responsive

$tablet: new-breakpoint(max-width 1300px 4);
$mobile: new-breakpoint(max-width 480px 4);

.hidden-md {
  display: none;
} 

.visible-xs {
  @include media($tablet) {
    display: block;
  }
}

.hidden-xs {
  @include media($tablet) {
    display: none;
  }
}

// Typography

body {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5 { font-family: 'Nunito Sans', sans-serif; }

a {
  color: #00d2c1;
  transition: all 0.4s ease 0s;
  &:hover {
    color: white;
  }
}
.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

button {
  background: rgba(0, 210, 193, .8);
  color: white;
  padding-left: 45px;
  padding-right: 45px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  line-height: 50px;
  border-radius: 40px;
  font-family: 'Nunito Sans', sans-serif;
  &:hover {
    background: rgba(0, 210, 193, 1);
  }
}

hr {
    box-sizing: content-box;
    height: 0;
    width: 4em;
    border-top: 4px solid rgba(0, 210, 193, 1);
    border-bottom: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    &.clear {
      border-top: none;
      width: 100%;
      clear: both;
      margin: 0;
    }
}

p.callout {
  text-align: center;
  color: #00d2c1;
  line-height: 34px;
  i {
    font-size: 34px;
  }
}

.help-block {
  display: block;
  color: red;
  margin-bottom: 15px;
}

a.btn {
  @extend button;
}

h1 {
  font-size: 2.4rem;
  color: #00d2c1;
  @include media($mobile) {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 1.8rem;
  &.h1 {
    font-size: 2.4rem;
  }
}

h2.section-heading {
  clear: both;
  margin-top: 45px;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-weight: 100;
  line-height: 1.8;
  letter-spacing: 1px;
  @include media($mobile) {
    line-height: 1.4;
  }
}

h2, h3 {
  clear:both;
}

// Forms 

input[type="text"], input[type="email"], input[type="password"] {
  line-height: 30px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif;
}

select {
  height: 48px;
  @include media($mobile) {
    background: white;
  }
}

select.full {
  width: 100%;
}

select.small {
  display: inline-block;
}

form {
  @include span-columns(8);
  margin: auto !important;
  float: none;
  @include media($tablet) {
    @include span-columns(4);
    padding-left: 45px;
  }
  @include media($mobile) {
    @include span-columns(4);
    margin-left: 0;
    padding-left: 8%;
    padding-right: 8%;
  }
  &.small {
    @include span-columns(8);
    @include shift(2);
    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }
    .actions {
      @include span-columns(12);
    }
    input {
      padding-right: 15%;
    }
    p {
      margin-right: 0;
    }
  }
  p {
    margin-bottom: 40px;
    font-size: 14px;
    @include media($mobile) {
      margin-right: 0;
    }
  }
  h1 {
    font-weight: 100;
  }
  ul.features {
    margin-top: 0;
    p {
      padding-right: 0;
      margin-right: 0;
    }
    @include media($mobile) {
      margin-bottom: 20px;
    }
  }
  .form-group {
    @include media($mobile) {
      @include span-columns(4);
    }
  }
}

form .actions {
  @include span-columns(10);
  text-align: right;
  button {
    margin-left: 25px;
  }
}

label {
  font-weight: 100;
  letter-spacing: 1.5px;
}

.form-group {
  @include span-columns(5);
  margin-bottom: 12px;
  &.small {
    @include span-columns(2);
    @include media($mobile) {
      @include span-columns(4);
    }
  }
}



// Creditor form
.form_creditors {
  label {
    margin: 15px 0 10px 0;
    font-weight: 200;
  }
  p {
    font-weight: 200;
  }
  h2 {
    margin-top: 25px;
  }
  fieldset {
    margin-top: 25px;
  }
}

// Payment form
#green_modal {
    display: none;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

#green_modal iframe {
    border: 0;
    width: 822px;
    margin: auto;
    margin-top: 30px;
    height: 80%;
    display:block;
    @include media($mobile) {
      width: 100%;
    }
}

#green_form {
    display: none;
}

#green_modal #green_form {
    display: block;
}

// SSN form
.form_poa {
  .ssl {
    text-align: center;

  }
  img {
    width: 200px;
    margin-top: -20px;
    margin-bottom: 60px;
  }
}

// Layout

body {
  margin: 0;
  margin-top: 60px;
  background: white;

}

.content {
  @include clearfix();
}

section.section-header {
  background: url(/images/plus_bg.png);
  background-size: cover;
  padding: 80px 20vw 60px 20vw;
}

div.wrapper {
  max-width: 1400px;
  margin: auto;
  margin-bottom: 120px;
  &.page_wrap {
    color: #333;
    margin-top: 120px;
    .info-page {
      @include media($mobile) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}

//comparison chart

.comp-chart {
  background: white;
    padding-bottom: 0rem;
    position: relative;
    padding-left: 10vw;
    padding-right: 10vw;
    @include media($tablet) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    @include media($mobile) {
      display: none;
    }
    color: black;
    padding-top: 160px;
    padding-bottom: 30px;
    table {
      text-align: center;
      td {
        border: 1px solid #00C4B1;
        padding: 15px 20px;
      }
      th {
        border: 0;
        padding: 15px;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
      }
      .highlight {
        box-shadow: inset 0 0 15px rgba(0,0,0,0.1);
      }
    }
    .wrapper {
      box-shadow: 0 0 30px rgba(0,0,0,0.1);
      padding: 15px;
      @include media($tablet) {
        margin-bottom: 0;
      }
    }
}
.comp-chart .section-header {
    padding-top: 2rem;
}
.comp-name {
    font-size: 1em;
    line-height: 1;
    letter-spacing: 1px;
}
@media (max-width:768px) {
    .comp-name {
        font-size: .7em;
    }
}

// testimonials

.newsletter {
  @include clearfix();
  form {
    width: 80%;
    margin-left: 0;
    display: block;
    float: none;
    @include media($mobile) {
      width: 100%;
    }
    @include clearfix();
    input {
      @include span-columns(8);
      @include omega();
      @include media($mobile) {
        @include span-columns(4);
        @include omega();
      }
    }
    button {
      box-shadow: 0 0 40px rgba(0,0,0,0.3);
      @include span-columns(4);
      @include omega();
      @include media($mobile) {
        @include span-columns(4);
        @include omega();
        font-size: 14px;
        margin-bottom: 30px;
        margin-left: 0;
      }
      padding-top: 8px;
      padding-bottom: 9px;
      margin-left: 10px;
    }
    input {
      line-height: 48px;
      border-radius: 40px;
      text-indent: 25px;
      font-size: 18px;
      box-shadow: 0 0 40px rgba(0,0,0,0.3);
    }
  }
  .section-header {
    font-size: 3.1em;
    color: white;
    font-weight: 800;
    padding-top: 1.5rem;
  }
  .slick-slide p {
    width: 50%;
    margin-left: 25%;
    font-weight: 200;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
    @include media($tablet) {
      width: 100%;
      float: none;
    }
  }
  .email-signup {
    padding: 0 2rem 0rem 2rem;
    color: white;
    background: url(/images/plus_bg.png);
    background-size: cover;
    border-left: 5px solid rgba(0, 210, 193, 1);
    @include media($tablet) {
      border-left: 0;
      border-top: 5px solid rgba(0, 210, 193, 1);
      padding-top: 20px;
      padding-bottom: 40px;
    }
    p {
      margin-bottom: 45px;
    }
    .section-header {
      padding-top: 80px;
      @include media($tablet) {
        padding-top: 30px;
      }
    }
  }
}

.customer-testimonials {
    background: url(/images/blue_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    &.col-sm-6 {
      @include media($tablet) {
        width: 100%;
      }
    }
}
@media screen and (min-width:768px) {
    .customer-testimonials {
    }
}
@media screen and (min-width:1024px) {
    .customer-testimonials {
        padding-bottom: 80px;
    }
}
.customer-testimonials i {
    margin-right: 5px;
}
.customer-testimonials .customer {
    margin-bottom: 2rem;
}
.customer {
    padding: 0
}
.customer i {
    color: #23292f;
}

.customer-testimonials h3 {
    margin-bottom: 0;
    color: rgba(0, 210, 193, 1);
}
.customer-testimonials small {
    color: #222;
}
.customer-testimonials p {
    font-weight: 100;
    font-size: 1.1em;
    color: white;
    line-height: 1.5em;
    margin-bottom: 0;
}


// Contact sticky
section#contact-sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #00d2c1;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 9999;
  border-top-left-radius: 10px;
  a {
    color:white;
  }
  i {
    font-size: 25px;
    line-height: 40px;
    margin: 0 8px;
    &.fa-phone {
      font-size: 18px;
      margin-right: 0;
    }
  }
}

// Header

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 32px;
  position: fixed;
  padding-top: 15px;
  left: 15px;
  top: 10px;
  color: #00d2c1;
  z-index: 9999;
  @include media($tablet) {
    display: block;
  }
}
ul.mobile-nav {
  display: none;
  position: fixed;
  top: 79px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 8888;
  &.active {
    display: block;
  }
  li {
    background: white;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}

header {
  @include clearfix();
  background: #02152F;
  padding: 18px 15px 15px 25px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  text-align: center;
  a:hover {
    color: white;
  }
  nav.main-nav {
    @include media($tablet) {
      display: none;
    }
    line-height: 40px;
    position: relative;
    z-index: 222;
    width: 40%;
    float: right;
    font-size: 18px;
    li {
      display: inline-block;
      
    }
    a {
      font-weight: 400;
      letter-spacing: 1.5px;
      padding: 0 15px;
      border-top: 3px solid transparent;
      display: block;
      transition: all 0.4s ease 0s;
      &:hover {
        border-top: 3px solid white;
      }
    }
  }
  div.top-right {
    float: right;
    text-align: right;
    position: relative;
    z-index: 222;
    margin-top: 5px;
    @include media($tablet) {
      display: none;
    }
    a {
      font-size: 12px;
      display: inline-block;
      margin-right: 15px;
      padding-left: 25px;
      padding-right: 25px;
      line-height: 20px;
    }
    .btn {
      border-radius: 30px;
    }
  }
  span.logo {
    float: left;
    @include media($tablet) {
      float: none;
    }
    img {
      width: 180px;
      @include media($mobile) {
        width: 150px;
      }
    }
  }
  .concierge {
    float: right;
    color: #00d2c1;
    margin-right: 18px;
    margin-top: 10px;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    @include media($tablet) {
      display: none;
    }
  }
}

// Dashboard
.dash_wrap {
  margin-top: 0 !important;
  @include media($mobile) {
    @include clearfix();
    margin-top: 80px !important;
    padding-left: 25px;
    padding-right: 25px;
  }
  section {
    @include span-columns(6);
    @include omega(2n);
    @include media($mobile) {
      @include span-columns(4);
      padding: 15px;
    }
    padding: 30px;
    background: white;
    color: black;
    a {
      cursor: pointer;
    }
    a:hover {
      color: #00d2c1;
    }
    a.btn:hover {
      color:white;
    }
    form {
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Onboard Signup

.body__onboard {
  background: #101010 url(/images/start-today-bg.png);
  background-size: cover;
  div.wrapper.page_wrap {
    margin-top: 0;
    color: white;
  }
  .form-group {
    width: 46%;
    float: left;
    margin-right: 2%;
    @include media($mobile) {
      width: 100%;
      margin-right: 0;
    }
  }
  .actions {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 45px;
    width: 100%;
    button.btn {
      margin-left: 0;
      @include media($tablet) {
        width: 50%;
      }
    }
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 85px;
    padding-bottom: 65px;
    border-bottom: 1px solid rgba(275,275,275,0.1);
    font-weight: 100;
    @include media($mobile) {
      border-bottom: 0;
      font-size: 1.2rem;
      color: white;
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }
  h3 {  
    line-height: 92px;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    padding-left: 120px;
    @include media($tablet) {
      padding-left: 80px;
      text-align: left;
    }
    span {
      position: relative; 
    }
    @include media($mobile) {
      font-size: 16px;
      line-height: 1.2;
    }
    span:before {
      background: url(/images/money_icon.png);
      background-size: cover;
      content: '';
      width: 85px;
      height: 92px;
      position: absolute;
      left: 0;
      @include media($tablet) {
        width: 67px;
        height: 72px;
      }
      @include media($mobile) {
        top: -20px;
        left: -80px;
      }
    }
  }
  section.onboard_signup {
    margin-top: 120px;
    text-align: center;
    @include media($mobile) {
      margin-top: 60px;
    }
    span.or {
      display: block;
      font-size: 24px;
      text-align: center;
      margin: 45px 0;
      color: white;
      text-transform: uppercase;
    }

    button {
      background-color: #4267b2;
      margin-bottom: 60px;
      min-width: 326px;
      &.btn-google {
        background-color: #df4a32;
        margin-left: 30px;
        @include media($tablet) {
          margin-left: 0;
        }
      }
      &:hover {
        color:white;
      }
    }

    p.cta {
      border-top: 1px solid rgba(275,275,275,0.05);
      padding-top: 45px;
      margin-top: 60px;
      font-size: 28px;
    }

  }
}

// Progress bar
.progress-bar {
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-height: 30px;

  background-color: $progress-background;
  border: $progress-border;
  border-radius: $base-border-radius;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  height: $progress-height;
  margin: 0 auto;
  padding: 2px;
  width: 100%;

  > span.meter {
    animation: progress $progress-animation-duration linear infinite;
    background-color: $progress-meter-color;
    background-image: linear-gradient(
                        -45deg, rgba(#fff, 0.15) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(#fff, 0.15) 50%,
                        rgba(#fff, 0.15) 75%,
                        transparent 75%
                      );
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border: $progress-meter-border;
    border-radius: $base-border-radius / 1.5;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 60%;
  }
}

@-webkit-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-moz-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-ms-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-o-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

// Stats

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);

  button {
    margin: 25px 0;
  }

  img {
    height: 50px;
    margin: 0 15px;
  }

  h2 {
    font-weight: 100;
    color: #00d2c1;
    margin-top: 45px;
  }

  form {
    @include clearfix();
    clear: both;
    float: none;
  }

  padding: $base-spacing / 2;

  ul {
    @include clearfix();
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;
    @include media($mobile) {
      margin-bottom: 15px;
    }
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}

// Home hero
section.home_hero {
  background: url(/images/header_bg.png);
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;
  text-align: center;
  position: relative;
  .wrapper > img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30vw;
    @include media($mobile) {
      display: none;
    }
  }
  .wrapper {
    @include media($mobile) {
      margin-bottom: 0;
    }
  }
  @include media($mobile) {
    padding-left: 25px;
    padding-right: 25px;
    background: url(/images/plus_bg.png);
    background-size: cover;
  }
  h1 {
    font-weight: 200;
    font-size: 80px;
    letter-spacing: 1px;
    @include media($tablet) {
      font-size: 10vw;
    }
  }
  h3.heading {
    font-size: 24px;
    margin-top: 25px;
    color: #00d2c1;
  }
  p.tagline {
    font-size: 18px;
    width: 55%;
    margin: auto;
    margin-top: 30px;
    @include media($mobile) {
      width: 90%;
      font-size: 14px;
    }
  }
}

// Plan selection
.form_plan {
  @include span-columns(8);
  @include shift(2);
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    padding: 0 25px 25px 25px;
  }
  h2 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 45px;
  }
  .section-actions {
    @include clearfix();
    form {
      @include span-columns(2);
      @include shift(2);
      padding: 45px 0;
    }
  }
}

// Document signing

#hs-container {
  width: 900px;
  margin: 60px auto;
}

// Footer
ul#partners {
      border-left: 0;
      padding-left: 0 !important;
      width: 100%;
      margin-top: 25px;
      text-align: left;
      padding-bottom: 0 !important;
      li {
        display: inline-block;
        margin-right: 45px;
        margin-bottom: 45px;
        img {
          opacity: 0.25;
        }
      }
    }

footer.main-footer {
  background: #02152F;
  position: relative;
  @include clearfix();
  clear: both;
  .footer-nav ul {
    text-align: center;
    width: 100%;
    border-left: 1px solid rgba(275,275,275,0.1);
    padding-left: 45px !important;
    padding-top: 55px !important;
    padding-bottom: 55px !important;
    li {
      display: inline-block;
      margin: 0 8px;
      font-size: 12px;
      a { font-size: 16px;
      letter-spacing: 1px; 
      color: white;
      line-height: 2;
    }
    }
    .btn {
      line-height: 15px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 400;
      border-radius: 30px;
      margin-bottom: 30px;
      margin-top: 15px;
      font-size: 14px;
    }
    @include media($tablet) {
        display: none;
        border-left: 0;
        padding-left: 0;
      }
  }
  .footer_cta {
    margin-top: 45px;
    text-align: left;
    @include media($mobile) {
      text-align: center;
    }
    > img {
      margin-bottom: -10px;
    }
    .concierge {
      line-height: 50px;
      margin-left: 45px;
      @include media($mobile) {
        display: block;
        margin-left: 0;
        margin-top: 25px;
      }
    }
    .btn {
      border-radius: 30px;
      background: transparent;
      border: 1px solid #00C4B3;
      color: #00C4B3;
      line-height: 20px;
      padding-left: 25px;
      padding-right: 25px;
      margin-right: 25px;
      @include media($mobile) {
        margin-right: 0;
        display: block;
        margin-bottom: 25px;
      }
      &.cta-btn {
        background: #00C4B3;
        color: white;
        border: 0;
      }
    }
  }
  .footer-nav {
    @include clearfix();
    width: 80%;
    margin:auto;
    @include media($mobile) {
      width: 100%;
      text-align: center;
    }
    ul {
      @include span-columns(3);
      float: right;
      @include media($tablet) {
        @include span-columns(4);
      }
      @include media($mobile) {
        display: none;
      }
      li {
        display: block;
      }
      @include media($mobile) {
        display: none;
      }
    }
  }
  .footer-cta.footer-col {
    margin-top: 45px;
    @include media($tablet) {
        display: none;
      }
  }
  .footer-col {
    @include span-columns(8);
    @include media($tablet) {
      @include span-columns(4);
    }
  }
  .site-info {
      margin-top: 30px;
  }
  .disclaimer p {
      @include span-columns(8);
      @include shift(2);
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: 200;
      color: rgba(275,275,275,0.5);
      margin-top: 2em;
      line-height: 1.5;
      text-align: center;
  }
  .copyright {
      @include span-columns(3);
      @include media($mobile) {
        @include span-columns(4);
      }
      float: right;
      text-align: right;
      font-size: 11px;
      text-decoration: none;
      padding: 45px 0;
      color: rgba(275,275,275,0.5);
  }
  a.copyright:hover {
      text-decoration: none;
  }
  .sep {
      margin-left: 5px;
      padding-left: 5px;
      text-decoration: none;
  }
  span.sep:hover {
      text-decoration: none;
      color: rgba(0, 210, 193, 1);
  }
  .social {
      clear: both;

      @include media($tablet) {
        float: none;
        margin-right: 0;
      }
      margin-top: 0px;
      margin-bottom: 40px;
      color: rgba(0, 210, 193, 1);
      i {
        font-size: 2em;
      }
  }
  .social a {
    margin: 0 12px;
      color: rgba(275,275,275,0.5);
      transition: all 0.4s ease 0s;
  }
  .social a:hover {
      color: rgba(0, 210, 193, 1);
  }
  .ssl {
    width: 250px;
    position: absolute; 
    left: 15px;
    bottom: 15px;
    @include media($mobile) {
      display: none;
    }
  }
  .ssl p {
      margin-bottom: 0;
  }
  .ssl img {}

      padding: 2em 1em;
      text-align: center;
      color: #fff;

   h5 {
      color: rgba(275,275,275,0.3);
      margin-top: 80px;
      font-size: 14px;
      @include media($mobile) {
        display: none;
      }
  }
   img {
      max-width: 200px;
      margin-top: -20px;
      float: none;
  }
  .footer-nav p {
      margin-bottom: 0;
      font-size: 1.2em;
      font-weight: 100;
      letter-spacing: 0.5px;
      font-style: italic;
  }
  .nav-col {
      display: inline-block;
  }
  .footer-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .footer-nav ul li {
      text-align: center;
  }
  @media screen and (min-width:992px) {
      .footer-nav ul li {
          text-align: left;
      }
  }
  .footer-nav ul li a {
      transition: all 0.4s ease 0s;
      font-weight: 100;
  }

  .footer-nav ul li a:hover {
      text-decoration: none;
  }
  .footer-branding a {
      margin: 10px 0;
      font-size: 1.2em;
  }
}


// products partial

.container-fluid.products {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 85px;
  padding-bottom: 85px;
  background: white;
  @include media($tablet) {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include clearfix();
  color: #00C4B3;
  .flux_prime {
    @include media($tablet) {
      width: 65vw;
    }
  }
  &.plus {
    background: url(/images/plus_bg.png);
    background-size: cover;
    color: white;
    padding: 120px 10%;
    .copy {
      margin-left: 0;
    }
  }
  .btn {
    @include media($tablet) {
      margin-bottom: 45px;
    }
  }
  .learn_more {
    margin-left: 77px;
    text-decoration: underline;
    &:hover {
      color: #333;
    }
    @include media($mobile) {
      margin-left: 0;
      display: block;
    }
  }
  h2 {
    font-weight: 200;
    font-size: 44px;
    margin: 40px 0;
    @include media($mobile) {
      font-size: 6vw;
    }
  }
  ul {
    margin-top: 50px;
    padding-left: 25px;
    margin-bottom: 50px;
    margin-right: 30px;
  }
  li {
    position: relative;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 30px;
    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 8px;
      width: 30px;
      height: 30px;
      background: url('/images/cross.png') no-repeat;
    }
    span {
      font-size: 14px;
      display: block;
      font-weight: normal;
    }
  }
  .laptop {
    margin-left: 80px;
    width: 40vw;
    @include media($tablet) {
      display: none;
    }
  }
  .iphone {
    @include shift(2)
    @include span-columns(3);
    @include media($tablet) {
      display: none;
    }
  }
  .copy {
    margin-left: 10%;
    @include span-columns(5);
    @include media($tablet) {
      @include span-columns(4);
    }
    @include media($mobile) {
      margin-left: 0;
      text-align: center;
    }
  }
}




// MODAL

body.modal-open .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

.modal-trigger-wrap {
  width: 45px;
  float: right;
}

#contact-sticky .phone-handle {
  line-height: 65px;
  cursor: default;
}

.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 0px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    padding: 0.8em 1em;
  }

  .modal-fade-screen { // overlay
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999999999;

    h2 {
      color: #00d2c1;
      font-weight: 100;
    }
    @include media($large-screen) {
      padding-top: 10em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    background: $modal-background;
    cursor: pointer;

    &::after,
    &::before {
      @include position(absolute, 3px 3px 0 50%);
      background: $modal-close-color;
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
      transform: rotate(45deg);
    }

    &:hover::after,
    &:hover::before {
      background: darken($modal-close-color, 10%);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .modal-inner {
    background: $modal-background;
    margin: auto;
    margin-top: 0;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    transition: opacity 0.25s ease;
    width: 95%;

    form {
      width: 100%;
      margin-left: 0;
    }

    @include media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($large-screen) {
      width: 50%;
    }

    h1 {
      color: $base-font-color;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      font-weight: 200;
      margin-bottom: 30px;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        columns: 2 8em;
      }
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}